[Desktop Entry]
Encoding=UTF-8
Name=Cic
Comment=Cic P2P Cryptocurrency
Exec=cic-qt %u
Terminal=false
Type=Application
Icon=cic128
MimeType=x-scheme-handler/cic;
Categories=Office;Finance;
Name[en_US]=cic-qt.desktop
