[Unit]
Description=Cic's distributed currency daemon
After=network.target

[Service]
User=ciccore
Group=ciccore

Type=forking
PIDFile=/var/lib/cicd/cicd.pid
ExecStart=/usr/bin/cicd -daemon -pid=/var/lib/cicd/cicd.pid \
-conf=/etc/ciccore/cic.conf -datadir=/var/lib/cicd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
